.container{
    margin-bottom: 20px;
}
.bg-col{
    background-color: #fceae8 !important;
    padding: 20px 40px;
    border-radius: 15px;
}
.buy{
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.color{
    color: orange;
}
.card-img-top{
    width: 280px;
    height: 331px;
}
.card{
    text-align: center;
}
/* .under{
    text-decoration-color: tomato;
    text-decoration-thickness: 3px;
    text-decoration-style: solid;
    text-underline-offset: 7px;
} */
.under{
    text-decoration: none; 
    border-bottom: 10px solid tomato;
}
#catagories img{
    width: 100%;
}