.container{
    margin-bottom: 20px;
}
.bg-col{
    background-color: #fceae8 !important;
    padding: 20px 40px;
    border-radius: 15px;
}
.buy{
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}